# =========================
# PYTHON
# =========================
venv/
env/
.venv/
__pycache__/
*.pyc
*.pyo

# =========================
# ENTORNO
# =========================
.env
.env.*
!.env.example

# =========================
# DATA
# =========================
data/
*.pt
*.onnx

# =========================
# ESP32
# =========================
secret.h

# =========================
# DOCKER
# =========================
.dockerignore

# =========================
# LOGS
# =========================
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# SISTEMA
# =========================
.DS_Store
Thumbs.db
node_modules/
dist/