# =========================
# APP
# =========================
UPLOAD_DIR=data/images
PROCESSED_DIR=data/processed
EVENTS_FILE=data/events.json

# =========================
# YOLO
# opciones: yolov8n.pt | yolov8s.pt | yolov8m.pt | yolov8l.pt | yolov8x.pt
# =========================
YOLO_MODEL=yolov8n.pt
YOLO_CONF=0.35
YOLO_IOU=0.5

# =========================
# ESP32 AUTH
# clave que el ESP32 envía en el header X-API-Key
# =========================
DEVICE_API_KEY=

# =========================
# JWT
# genera uno seguro con: openssl rand -hex 32
# =========================
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# =========================
# ADMIN
# credenciales para el panel de administración
# =========================
ADMIN_USERNAME=
ADMIN_PASSWORD=

# =========================
# TELEGRAM
# obtén el token con @BotFather en Telegram
# obtén el chat_id con @userinfobot
# =========================
TG_BOT_TOKEN=
TG_CHAT_ID=
TG_ANTI_SPAM_SECONDS=10

# =========================
# FRONTEND
# =========================
FRONTEND_URL=http://localhost:5173