# =========================
# ENTORNOS VIRTUALES
# =========================
venv/
env/
.venv/

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# VARIABLES DE ENTORNO
# =========================
.env
.env.*
!.env.example

# =========================
# DATA GENERADA EN RUNTIME
# =========================
data/

# =========================
# MODELOS YOLO
# =========================
*.pt
*.onnx

# =========================
# ESP32
# =========================
secret.h

# =========================
# DOCKER
# =========================
.dockerignore

# =========================
# LOGS
# =========================
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# SISTEMA
# =========================
.DS_Store
Thumbs.db